header {
  height: 100px;
  background-color: #faf60fec;
  border-radius: 25px;
  margin: 2px;
  text-align: center;
  font-family: "Segoe Print";
}
 
.header-menu {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 0;
}

main {
  min-height: 500px;
  display: flex;
  width: 100%;
  border-radius: 10px;
}

#leftPanel,
#content,
#rightPanel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe Print";
}

#leftPanel {
  background-color: #fab700f3;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#content {
  background-color: #a0cf1d;
  padding: 30px 20px;
  text-align: center;
  font-family: "Segoe Print";
}

#rightPanel {
  background-color: #fab700f3;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}



footer {
  min-height: 100px;
  background-color:  #1b1b1a;
  display: flex;
  justify-content: center;
  color: #faf60fec;   
  font-size: 20px;
  border-radius: 25px;
  margin: 2px;
  font-family: "Segoe Print";
}

.loader {
  border-top: 16px solid #15dffa;
  border-right: 16px solid  #15dffa;
  border-bottom: 16px solid #c2f7f4;
  border-left: 16px solid #c2f7f4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
}


li:before {
  content: "\25AA";
  margin-right: 25px;   
  color: #ffffff;   
}




button {
  display: inline-block;
  background: linear-gradient(#8ae3ff, #ffeafc);
  color: black;
  text-align: center;
  font-family: "Segoe Print";
  margin: 10px 10px;
  padding: 10px 10px;
  margin: 0 auto;
  border-radius: 15px;
  font-size: 25px;
  font-weight: bold;
}

button:hover {
  background: linear-gradient(blue, pink);
  text-decoration: underline;
  color: red;
}


table,
th,
td {
  border: 2px solid #e3bbf3;
  border-collapse: collapse;
  padding: 8px;
  margin: 0 auto;
  text-align: center;
  font-family: "Segoe Print";
  
}

th {
  width: 100px;
  font-size: 20px;
  color: #fd0177;
  padding: 10px;
  font-weight: bold;
}


tr {
  background-color: #fcffd8;
  transition: all 0.5s;
}

tr.green {
  transition: all 0.5s;
  background-color: #cff8c2e3;
  color: #2d6309;
}

td {
  height: 25px;
}

td button {
  padding: 4px 0;
}



#searchInput {
  height: 30px;
  width: 180px;
  border-radius: 15px;
  border: 2px solid #e3bbf3;
  padding: 5px;
  font-size: 20px;
  font-family: "Segoe Print";
  font-weight: 500;
  text-align: center;
}

#searchButton {
  display: block;
  margin-top: 20px;
}


.scoreStyle{
  font-size: 20px;
  font-weight: bold;
  margin: 10px;  
}

.editor{
 font-size: 20px;
 font-weight: bold;
}